<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Сложность алгоритмов</title>
</head>
<body>
<div layout:fragment="content">

    <div class="card mb-2 mt-2">
        <div class="card-header">
            Асимптотический анализ (Временная сложность алгоритма)
        </div>
        <div class="card-body">
            <div class="card-text">
                Когда мы говорим об измерении сложности алгоритмов, мы подразумеваем анализ времени, которое потребуется для обработки очень большого набора данных. Такой анализ называют асимптотическим. Сколько времени потребуется на обработку массива из десяти элементов? Тысячи? Десяти миллионов? Если алгоритм обрабатывает тысячу элементов за пять миллисекунд, что случится, если мы передадим в него миллион? Будет ли он выполняться пять минут или пять лет?
            </div>
            <hr>
            <div class="card-text">
                Порядок роста
                <br>
                <br>
                Порядок роста описывает то, как сложность алгоритма растет с увеличением размера входных данных. Чаще всего он представлен в виде O-нотации (от нем. «Ordnung» — порядок) : O(f(x)), где f(x) — формула, выражающая сложность алгоритма. В формуле может присутствовать переменная n, представляющая размер входных данных. Ниже приводится список наиболее часто встречающихся порядков роста, но он ни в коем случае не полный.
            </div>
        </div>
    </div>

    <div class="card mb-2 mt-2">
        <div class="card-header">
            Виды
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Тип</th>
                    <th scope="col">Описание</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalOrderConstant">
                            Константный — O(1)
                        </button>
                    </th>
                    <td>
                        Порядок роста O(1) означает, что вычислительная сложность алгоритма не зависит от размера входных данных. Следует помнить, однако, что единица в формуле не значит, что алгоритм выполняется за одну операцию или требует очень мало времени. Он может потребовать и микросекунду, и год. Важно то, что это время не зависит от входных данных.
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalOrderLinear">
                            Линейный — O(n)
                        </button>
                    </th>
                    <td>
                        Порядок роста O(n) означает, что сложность алгоритма линейно растет с увеличением входного массива. Если линейный алгоритм обрабатывает один элемент пять миллисекунд, то мы можем ожидать, что тысячу элементов он обработает за пять секунд.
                        Такие алгоритмы легко узнать по наличию цикла по каждому элементу входного массива.
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalOrderLogarithmic">
                            Логарифмический – O(log n)
                        </button>
                    </th>
                    <td>
                        Порядок роста O(log n) означает, что время выполнения алгоритма растет логарифмически с увеличением размера входного массива. (Прим. пер.: в анализе алгоритмов по умолчанию используется логарифм по основанию 2). Большинство алгоритмов, работающих по принципу «деления пополам», имеют логарифмическую сложность. Метод Contains бинарного дерева поиска (binary search tree) также имеет порядок роста O(log n).
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalOrderLinearLogarithmic">
                            Линеарифметический — O(n·log n)
                        </button>
                    </th>
                    <td>
                        Линеарифметический (или линейно-логарифмический) алгоритм имеет порядок роста O(n·log n)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="inputOrder" id="modalBodyId"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputOrder" placeholder="Input value" aria-label="Input value" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="runAlgorithmComplexity()">Run</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resultOrder">Результат (ms.)</label>
                        <input type="text" class="form-control" id="resultOrder" aria-describedby="resultOrder">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
